<body>
  <h1 id="title">WeatherInfos</h1>
  <div class="display-cards-flex">
    <div class="display-cards-grid" data-controller="weather-api" data-weather-api-weather-key-value="<%= @weather_key %>">
      <% @cities.each do |city| %>
        <div class="home-cards">
          <div>
            <%= city["address"] %> |
            <%= city["currentConditions"]["conditions"] %>
          </div>
          <div class="display-icon-flex">
            <div class="width-border" data-controller="change-icon" data-change-icon-icons-value="<%= city["currentConditions"]["icon"] %>">
              <div id="icon" data-change-icon-target="changeIcons"></div>
            </div>
            <div id="flex-right">
              <div id="temp-ress">
                <p id="temp"><%= city["currentConditions"]["temp"].round(0) %>°</p>
                <div class="display-feelslike-flex">
                  <p id="feelslike">feelslike</p>
                  <p id="feelslike-temp"><%= city["currentConditions"]["feelslike"].round(0) %>°</p>
                </div>
              </div>
              <div id="wind">
                <i class="fa-solid fa-wind"></i>
                <p id="wind-value"><%= city["currentConditions"]["windspeed"].round(0) %> km/h</p>
              </div>
              <div id="flex-values">
                <div class="uv">
                  <i class="fa-solid fa-sun" style="color: #223658; font-size: 10px"></i>
                  <p id="uv-value">UV <%= city["currentConditions"]["uvindex"].round(0) %></p>
                </div>
                <div id="humidity">
                  <i class="fa-solid fa-droplet"></i>
                  <p id="humidity-value"><%= city["currentConditions"]["humidity"].round(0) %>%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
