<body>
  <h1 id="title">WeatherInfos</h1>
  <div class="display-cards-flex">
    <div class="display-cards-grid" data-controller="weather-api" data-weather-api-weather-key-value="<%= @weather_key %>">
      <% @cities.each do |city| %>
        <div class="home-cards">
          <div>
            <%= city["address"] %> |
            <%= city["currentConditions"]["conditions"] %>
          </div>
          <div class="display-icon-flex">
            <div class="width-border" data-controller="change-icon" data-change-icon-icons-value="<%= city["currentConditions"]["icon"] %>">
              <div id="icon" data-change-icon-target="changeIcons"></div>
            </div>
            <div id="flex-right">
              <div id="temp-ress">
                <p id="temp"><%= city["currentConditions"]["temp"].round(0) %>°</p>
                <div class="display-feelslike-flex">
                  <p id="feelslike">feelslike</p>
                  <p id="feelslike-temp"><%= city["currentConditions"]["feelslike"].round(0) %>°</p>
                </div>
              </div>
              <p id="wind"><%= city["currentConditions"]["windspeed"].round(0) %> km/h</p>
              <div id="flex-values">
                <p id="uv">UV <%= city["currentConditions"]["uvindex"].round(0) %></p>
                <p id="humidity"><%= city["currentConditions"]["humidity"].round(0) %>%</p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= render "shared/footer" %>
</body>
