<h1 id="title">WeatherInfos</h1>
  <div class="row" data-controller="weather-test" data-weather-test-weather-key-value="<%= @weather_key %>">
  <% @meteo_test.each do |city|  %>
  <div class="card col-4" data-weather-test-target="weather">
    <div class="d-inline-flex w-100 justify-content-between">
      <div>
        <h3><%= city[0].capitalize %></h3>
        <p><%= city[1][:temp] %></p>
      </div>
      <div class='m-3'>
        <% case city[1][:weather] %>
        <% when 'cloudy' %>
          <i class="fa-solid fa-cloud"></i>
        <% when 'sunny' %>
          <i class="fa-solid fa-sun"></i>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h2>Localisation</h2>
<p>Latitude: <%= @location[:latitude] %></p>
<p>Longitude: <%= @location[:longitude] %></p>
<p>Adresse: <%= @location[:address] %></p>

<h2>Température actuelle</h2>
<p><%= @actual_temp["temp"] %>°C</p>

<h2>Prévisions pour les jours suivants</h2>
<% @forecast.each do |day| %>
  <p>Date: <%= day[:date] %>, Température: <%= day[:temp] %>°C</p>
<% end %>



<%# <%= @json %>


<%= render "shared/footer" %>
